go 1.24.4

use (
	./common
	./infrastructure/kafka
	./services/accumulator-service
	./services/billing-calculator-service
	./services/billing-service
	./services/charge-service
	./services/checkpoint-processor
	./services/dispatcher-service
	./services/function-service
	./services/invocation-service
	./services/machine
	./services/registrar-service
	./services/retry-service
	./services/user-processor
	./services/user-service
	./tests/integration
)
